[% WRAPPER "_wrapper.tt" %]

<form action="/entries" method="post">
    <input type="hidden" name="diary_id" value="[% diary_id %]"/>
    <table>
        <tr>
            <th><label for="title">記事のタイトル</label></th>
            <td>
                <input type="text" id="title" name="title" class="text" value=""/>
            </td>
        </tr>
        <tr>
            <th><label for="body">本文</label></th>
            <td>
                <input type="text" id="body" name="body" class="text" value=""/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="submit">
                <input type="submit" value="作成"/>
            </td>
        </tr>
    </table>
</form>

[% END %]
