[% WRAPPER '_wrapper.tt' %]
[% IF entries.size() %]
<ol>
    [% FOR entry IN entries %]
    <li>
        [% entry.title %] - [% entry.body %] -
        [% entry.created_date.strftime('%Y-%m-%d') %]
        <a href="/entries/[% entry.entry_id %]/update">編集</a>
        <a href="/entries/[% entry.entry_id %]/delete">削除</a>
    </li>
    [% END %]
</ol>
<a href="/diaries/[% diary_id %]/entries/add">新規作成</a><br>

[% IF page > 1 %]
<a href="/diaries/[% diary_id %]?page=[% page - 1 %]">戻る</a>
[% END %]

[% IF has_next %]
<a href="/diaries/[% diary_id %]?page=[% page + 1 %]">次へ</a>
[% END %]

[% ELSE %]
<p>記事がまだありません</p>
[% END %]
[% END # WRAPPER %]
